<script>
	const video = document.querySelector('#video')
	const img = document.querySelector('img');
	const names = document.querySelector('#names').value;
	const deleteConfirmation = document.getElementById('deleteConfirmation')
	if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
		const constraints = {
			video: { facingMode: 'environment' },
			audio: false
		}
		navigator.mediaDevices.getUserMedia(constraints).then(stream => video.srcObject = stream);
	}
	const getFrame = () => {
		const canvas = document.createElement('canvas');
		canvas.width = video.videoWidth;
		canvas.height = video.videoHeight;
		canvas.getContext('2d').drawImage(video, 0, 0);
		const data = canvas.toDataURL('image/png');
		return data;
	}
	var capBtn = document.querySelector('#capture');
	capBtn.addEventListener('click', function (event) {
		appendFileAndSubmit(getFrame());
	});

	function b64toBlob(b64Data, contentType, sliceSize) {
		contentType = contentType || '';
		sliceSize = sliceSize || 512;

		var byteCharacters = atob(b64Data);
		var byteArrays = [];

		for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
			var slice = byteCharacters.slice(offset, offset + sliceSize);

			var byteNumbers = new Array(slice.length);
			for (var i = 0; i < slice.length; i++) {
				byteNumbers[i] = slice.charCodeAt(i);
			}

			var byteArray = new Uint8Array(byteNumbers);

			byteArrays.push(byteArray);
		}

		var blob = new Blob(byteArrays, { type: contentType });
		return blob;
	}

	function appendFileAndSubmit(ImageURL) {
		// Get the form
		var form = document.getElementById("Frm");
		// Split the base64 string in data and contentType
		var block = ImageURL.split(";");
		// Get the content type
		var contentType = block[0].split(":")[1];// In this case "image/gif"
		// get the real base64 content of the file
		var realData = block[1].split(",")[1];// In this case "iVBORw0KGg...."
		// Convert to blob
		var blob = b64toBlob(realData, contentType);
		// Create a FormData and append the file
		var fd = new FormData(form);
		fd.append("file", blob);
		// Submit Form and upload file
		$.ajax({
			url: "http://151.106.112.217:8000/attendance/masuk",
			data: fd,// the formData function is available in almost all new browsers.
			type: "POST",
			contentType: false,
			processData: false,
			cache: false,
			dataType: "json", // Change this according to your response from the server.
			beforeSend: function () {
				document.querySelector('body').classList.remove("loaded")
			},
			success: function (response) {
				document.querySelector('body').classList.add("loaded")
				Swal.fire({
					icon: "success",
					title: "Request Success!",
					text: response.messages
				}).then((result) => {
					location.reload();
				})
			},
			error: function (xhr, httpStatusMessage, customErrorMessage) {
				document.querySelector('body').classList.add("loaded")
				Swal.fire({
					icon: "error",
					title: httpStatusMessage,
					text: customErrorMessage
				})
			}
		});
	}

	$(document).on('click', '#deleteBtn', function (e) {
		e.preventDefault();
		var id = $(this).attr('data-id');
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, sure!',
			cancelButtonText: 'No, cancel!',
			reverseButtons: true
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: "DELETE",
					url: "http://server.fathtech.co.id:8000/attendance/" + id,
					success: function (response) {
						Swal.fire({
							icon: "success",
							title: "Request Success!",
							text: response.detail
						}).then((result) => {
							location.reload();
						})
					},
					error: function (xhr, httpStatusMessage, customErrorMessage) {
						Swal.fire({
							icon: "error",
							title: httpStatusMessage,
							text: customErrorMessage
						})
					}
				})
			} else if (
				result.dismiss === Swal.DismissReason.cancel
			) {
				// 
			}
		})
	});
</script>