<script>
	$(document).on('click', '#deleteBtn', function (e) {
		e.preventDefault();
		var id = $(this).attr('data-id');
		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, sure!',
			cancelButtonText: 'No, cancel!',
			reverseButtons: true
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: "DELETE",
					url: "http://server.fathtech.co.id:8000/inmates/document/" + id,
					success: function (response) {
						Swal.fire({
							icon: "success",
							title: "Request Success!",
							text: response.detail
						}).then((result) => {
							location.reload();
						})
					},
					error: function (xhr, httpStatusMessage, customErrorMessage) {
						Swal.fire({
							icon: "error",
							title: httpStatusMessage,
							text: customErrorMessage
						})
					}
				})
			} else if (
				result.dismiss === Swal.DismissReason.cancel
			) {
				// 
			}
		})
	});
</script>